<!DOCTYPE html>
<html>
<head>
<title>Book Appointment</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<div class="navbar">
<h2>Book Appointment</h2>
<a href="/login">Dashboard</a>
</div>

<div class="container">

<div class="card">

<h2>Schedule an Appointment</h2>

<form method="POST">

<input type="text"
name="patient_name"
placeholder="Patient Name"
required>

<input type="text"
name="doctor_name"
placeholder="Doctor Name"
required>

<label>Date</label>
<input type="date"
name="date"
required>

<label>Time</label>
<input type="time"
name="time"
required>

<button type="submit">
Book Appointment
</button>

</form>

</div>

</div>

</body>
</html>