{% extends "base.html" %}

{% block title %}Submit Diagnosis | MedTrack{% endblock %}

{% block content %}
<section class="card form-card">
    <h2>Appointment Details</h2>

    <form method="POST">
        <label>Patient Name
            <input type="text" name="patient_name" required>
        </label>
        <label>Diagnosis
            <textarea name="diagnosis" placeholder="Enter your diagnosis" required></textarea>
        </label>
        <label>Treatment Plan / Notes
            <textarea name="notes" placeholder="Describe treatment plan"></textarea>
        </label>
        <button type="submit">Submit Diagnosis</button>
    </form>
</section>
{% endblock %}
