<!DOCTYPE html>
<html>
<head>
<title>Submit Diagnosis</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

<div class="navbar">
<h2>Submit Diagnosis</h2>
<a href="/login">Dashboard</a>
</div>

<div class="container">
<div class="card">

<form method="POST">
<input type="text" name="patient_name" placeholder="Patient Name" required>
<textarea name="diagnosis" placeholder="Diagnosis Details" required></textarea>
<textarea name="notes" placeholder="Doctor Notes"></textarea>
<button type="submit">Submit Diagnosis</button>
</form>

</div>
</div>

</body>
</html>