<!DOCTYPE html>
<html>
<head>
<title>View Appointments</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

<div class="navbar">
<h2>View Appointments</h2>
<a href="/login">Dashboard</a>
</div>

<div class="container">
<div class="card">

<table>
<tr>
<th>Patient</th>
<th>Doctor</th>
<th>Date</th>
<th>Time</th>
</tr>

{% for appointment in appointments %}
<tr>
<td>{{ appointment.patient }}</td>
<td>{{ appointment.doctor }}</td>
<td>{{ appointment.date }}</td>
<td>{{ appointment.time }}</td>
</tr>
{% endfor %}
</table>

</div>
</div>

</body>
</html>